.EntryScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.WeatherScreen {
  animation: fadeOut ease 1s;
  -webkit-animation: fadeOut ease 1s;
  -moz-animation: fadeOut ease 1s;
  -o-animation: fadeOut ease 1s;
  -ms-animation: fadeOut ease 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
